ul p {
    color: cornflowerblue;
}

div>p {
    color: darkblue;
}

input[type=text] {
    background-color:lightcyan;
}

input[type=email]:hover {
    background-color:rgb(111, 197, 176);
}

p::selection {
    color: black;
    background-color: yellow;
}
